<IfModule mod_rewrite.c>
    AuthType Basic
    AuthName "Restricted Area"
    AuthUserFile /home/u270401374/public_html/test-intencje/.htpasswd
    Require valid-user

    # Allow specified IP addresses to bypass authentication
    <RequireAny>
        Require ip 5.252.202.255
        Require ip 5.252.202.254
        Require ip 20.215.81.124
        Require valid-user
    </RequireAny>

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
